.hero-slide {
  height: 400px !important;
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}
.swiper-container {
  width: 100%;
}
.slide-image {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.images {
  object-fit: contain;
}
.hero-slider .content {
  position: relative;
  z-index: 2;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}
